<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login">
  <div>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-input
          formControlName="email"
          label="E-mail"
          labelPlacement="stacked"
          placeholder="email@example.com"
        >
        </ion-input>
      </ion-item>

      @if (loginForm.controls.email.invalid && loginForm.controls.email.dirty) {
        <span class="span-error">{{ getErrorMessage('email') }}</span>
      }

      <ion-item>
        <ion-input
          [type]="passwordType"
          formControlName="password"
          label="Mot de passe"
          labelPlacement="stacked"
          placeholder="***********"
        >
        </ion-input>
        <ion-icon (click)="onToggleShowPassword()" [name]="passwordIcon" id="icon-eye"></ion-icon>
      </ion-item>

      @if (loginForm.controls.password.invalid && loginForm.controls.password.dirty) {
        <span class="span-error">{{ getErrorMessage('password') }}</span>
      }

      <div class="container-button">
        <ion-button (click)="onSignIn()" [disabled]="loginForm.invalid" size="medium">
          Se connecter
        </ion-button>
        <a [routerLink]="'/register'">Pas encore inscrit ? Se créer un compte</a>
      </div>
    </form>
  </div>
</ion-content>
