<ion-content [fullscreen]="true">
  <div class="login">
    <form [formGroup]="loginForm" class="login-form">

      <h1>Se connecter</h1>

      <div class="form-field">
        <ion-input
          fill="solid"
          formControlName="email"
          label="E-mail"
          labelPlacement="stacked"
          placeholder="email@example.com"
        >
        </ion-input>

        <div class="span-field">
          @if (loginForm.controls.email.invalid && loginForm.controls.email.dirty) {
            <span class="span-error">{{ getErrorMessage('email') }}</span>
          }
        </div>
      </div>

      <div class="form-field">
        <ion-input
          [type]="passwordType"
          fill="solid"
          formControlName="password"
          label="Mot de passe"
          labelPlacement="stacked"
          placeholder="***********"
        >
        </ion-input>
        <!--        <ion-icon (click)="onToggleShowPassword()" [name]="passwordIcon" id="icon-eye"></ion-icon>-->

        <div class="span-field">
          @if (loginForm.controls.password.invalid && loginForm.controls.password.dirty) {
            <span class="span-error">{{ getErrorMessage('password') }}</span>
          }
        </div>
      </div>

      <div class="container-button">
        <ion-button (click)="onSignIn()" [disabled]="loginForm.invalid" size="medium">
          Se connecter
        </ion-button>
        <a [routerLink]="'/register'">Pas encore inscrit ? Se créer un compte</a>
      </div>
    </form>
  </div>
</ion-content>
