.parent-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .car-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80%;
    background: rgb(240, 240, 240);
    margin: auto auto;
    padding: 20px 100px;
    border-radius: 20px;
    min-height: 90%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;

      h1 {
        color: #01042d;
        font-weight: bold;
        font-size: 35px;
      }

      ion-button {
        width: max-content;
      }

      ion-icon {
        margin-right: 10px;
      }
    }

    .card-list {
      width: 100%;
      margin-bottom: 30px;
      //background: #01042d;

      ion-list {
        background: none;
        display: flex;
        justify-content: space-between;
      }

      ion-card {
        cursor: pointer;
        width: 30%;
      }

      .image-preview {
        display: flex;
        justify-content: center;

        ion-img {
          width: 80%;
          height: auto;
        }
      }
    }
  }
}
