.parent-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .car-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80%;
    background: rgb(240, 240, 240);
    margin: auto auto;
    padding: 20px 100px;
    border-radius: 20px;
    min-height: 90%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;

      h1 {
        color: #01042d;
        font-weight: bold;
        font-size: 35px;
      }

      ion-button {
        width: max-content;
      }

      ion-icon {
        margin-right: 10px;
      }
    }

    .card-list {
      width: 100%;
      margin-bottom: 30px;

      ion-list {
        background: none;
        display: flex;
        justify-content: space-between;

        ion-card {
          cursor: pointer;
          width: 30%;
          padding-top: 20px;

          .image-preview {
            display: flex;
            justify-content: center;
            height: 70%;

            ion-img {
              width: 80%;
              height: auto;
            }
          }

          ion-card-header {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            height: 28%;
          }
        }
      }
    }
  }
}
