<ion-content [fullscreen]="true">

  <div class="parent-container">
    <div class="car-list">
      <div class="header">
        <h1>La liste des voitures</h1>
        <ion-button (click)="onNavigateToCreationPage()" size="medium">
          <ion-icon name="add-circle-outline"></ion-icon>
          Ajouter une voiture
        </ion-button>
      </div>

      <div class="card-list">
        <ion-list>
          @for (car of cars; track car) {
            <ion-card (click)="onCarSelect(car.licensePlate)">
              <div class="image-preview">
                <ion-img alt="Photo de la voiture" [src]="car.frontPicture"/>
              </div>
              <ion-card-header>
                <ion-card-title>{{ car.model }}</ion-card-title>
                <ion-card-subtitle>{{ car.brand }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          }
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>
