.car-list {
  .container-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;

    ion-button {
      width: 90%;
      margin: 10px;
    }
  }
}
