.header {
  position: relative;
  display: flex;
  justify-content: right;
  flex: 1;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .logo {
    display: flex;
    color: white;
    font-family: "Berlin Sans FB";
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 150px;

    @media (max-width: 768px) {
      margin-left: 25px;
    }

    ion-img {
      width: 30px;
      margin-right: 10px;
    }
  }

  .disconnect {
    display: flex;
    align-items: center;
    width: 150px;

    ion-button {
      --color: white;

      ion-icon {
        margin-right: 5px;
      }
    }
  }
}
