.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    width: 100%;
  }

  .car-detail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80%;
    background: rgb(240, 240, 240);
    padding: 20px 60px;
    border-radius: 20px;
    min-height: 90%;

    @media (max-width: 768px) {
      padding: 10px;
      margin: 10px;
      width: 90%;
    }

    .header-car-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      padding: 0 10px;

      @media (max-width: 768px) {
        margin-bottom: 10px;

        h1 {
          text-align: right;
        }
      }

      h1 {
        color: #01042d;
        font-weight: bold;
        font-size: 35px;

        @media (max-width: 768px) {
          font-size: 25px;
          margin-bottom: 10px;
        }
      }

      ion-button {
        width: max-content;
      }

      ion-icon {
        margin-right: 10px;
      }
    }

    ion-card {
      display: flex;
      flex-direction: column;
      margin: 0 auto 25px auto;
      width: 100%;
      padding: 0 10px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }

      .picture-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;

        @media (max-width: 768px) {
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .picture {
          width: 45%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          @media (max-width: 768px) {
            width: 80%;
            margin-bottom: 10px;
          }

          ion-img {
            height: 400px;
            width: 100%;
            margin-bottom: 20px;

            @media (max-width: 768px) {
              height: 200px;
            }
          }

          p {
            color: rgb(117, 112, 112);
          }
        }
      }
    }
  }
}
