<ion-content [fullscreen]="true">
  <div class="parent-container">

    <div class="header">
      <app-header/>
    </div>

    <div class="car-detail">

      <div class="header-car-detail">
        <ion-button (click)="onNavigateToCarListPage()" size="medium">
          <ion-icon name="arrow-back"></ion-icon>
          Retour
        </ion-button>

        <h1>Detail de la voiture</h1>
      </div>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Modèle : {{ car?.model }}</ion-card-title>
          <ion-card-subtitle>Marque : {{ car?.brand }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Plaque d'immatriculation : {{ car?.licensePlate }}

          <div class="picture-container">
            <div class="picture">
              <ion-img [src]="car?.frontPicture" alt="{{ car?.model }} front picture"></ion-img>
              <p> Photo avant</p>
            </div>

            <div class="picture">
              <ion-img [src]="car?.behindPicture" alt="{{ car?.model }} behind picture"></ion-img>
              <p> Photo arrrière</p>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
    </div>
  </div>

</ion-content>
