<ion-content [fullscreen]="true" class="register">
  <div class="register">
    <form [formGroup]="registerForm" class="register-form">

      <h1>S'inscrire</h1>

      <div class="form-field">
        <ion-input
          fill="solid"
          formControlName="userName"
          label="Nom utilisateur"
          labelPlacement="stacked"
          placeholder="John Doe"
        >
        </ion-input>

        <div class="span-field">
          @if (registerForm.controls.userName.invalid && registerForm.controls.userName.dirty) {
            <span class="span-error">{{ getErrorMessage('userName') }}</span>
          }
        </div>
      </div>

      <div class="form-field">
        <ion-input
          fill="solid"
          formControlName="email"
          label="E-mail"
          labelPlacement="stacked"
          placeholder="email@example.com"
        >
        </ion-input>

        <div class="span-field">
          @if (registerForm.controls.email.invalid && registerForm.controls.email.dirty) {
            <span class="span-error">{{ getErrorMessage('email') }}</span>
          }
        </div>
      </div>

      <div class="form-field">
        <ion-input
          fill="solid"
          formControlName="phone"
          label="Numéro de téléhone"
          labelPlacement="stacked"
          placeholder="0606060606"
          type="tel"
        >
        </ion-input>

        <div class="span-field">
          @if (registerForm.controls.phone.invalid && registerForm.controls.phone.dirty) {
            <span class="span-error">{{ getErrorMessage('phone') }}</span>
          }
        </div>
      </div>

      <div class="form-field">
        <ion-input
          [type]="passwordType"
          fill="solid"
          formControlName="password"
          label="Mot de passe"
          labelPlacement="stacked"
          placeholder="***********"
        >
        </ion-input>
        <ion-icon (click)="onToggleShowPassword()" [name]="passwordIcon" class="icon-eye"></ion-icon>

        <div class="span-field">
          @if (registerForm.controls.password.invalid && registerForm.controls.password.dirty) {
            <span class="span-error">{{ getErrorMessage('password') }}</span>
          }
        </div>
      </div>

      <div class="form-field">
        <ion-input
          [type]="passwordConfirmationType"
          fill="solid"
          formControlName="passwordConfirmation"
          label="Confirmer le mot de passe"
          labelPlacement="stacked"
          placeholder="***********"
        >
        </ion-input>
        <ion-icon (click)="onToggleShowPasswordConfirmation()" [name]="passwordConfirmationIcon"
                  class="icon-eye"></ion-icon>

        <div class="span-field">

          @if (registerForm.controls.passwordConfirmation.invalid && registerForm.controls.passwordConfirmation.dirty) {
            <span class="span-error">{{ getErrorMessage('passwordConfirmation') }}</span>
          }

          @if (registerForm.errors?.['passwordMatch'] && registerForm.controls.passwordConfirmation.dirty) {
            <span class="span-error">Les mots de passe ne correspondent pas</span>
          }
        </div>
      </div>

      <div class="container-button">
        <ion-button (click)="onSignUp()" [disabled]="registerForm.invalid" size="medium">
          S'inscrire
        </ion-button>
        <a [routerLink]="'/login'">Déjà inscrit ? Se connecter</a>
      </div>

    </form>
  </div>
</ion-content>
