<ion-content [fullscreen]="true">

  <div class="parent-container">

    <app-disconnect/>

    <div class="new-car">
      <h1>Ajout d'une nouvelle voiture</h1>

      <form [formGroup]="carForm" class="car-form">

        <div class="car-form-input">
          <div class="car-form-input-text">
            <div class="form-field">
              <ion-input
                fill="solid"
                formControlName="brand"
                label="Marque de la voiture"
                labelPlacement="stacked"
                placeholder="BMW"
              >
              </ion-input>

              <div class="span-field">
                @if (carForm.controls.brand.invalid && carForm.controls.brand.dirty) {
                  <span class="span-error">{{ getErrorMessage('brand') }}</span>
                }
              </div>
            </div>


            <div class="form-field">
              <ion-input
                fill="solid"
                formControlName="model"
                label="Modele de la voiture"
                labelPlacement="stacked"
                placeholder="Z4 coupé"
              >
              </ion-input>

              <div class="span-field">
                @if (carForm.controls.model.invalid && carForm.controls.model.dirty) {
                  <span class="span-error">{{ getErrorMessage('model') }}</span>
                }
              </div>
            </div>


            <div class="form-field">
              <ion-input
                fill="solid"
                formControlName="licensePlate"
                label="Plaque d'immatriculation"
                labelPlacement="stacked"
                placeholder="AA-229-AA"
              >
              </ion-input>

              <div class="span-field">
                @if (carForm.controls.licensePlate.invalid && carForm.controls.licensePlate.dirty) {
                  <span class="span-error">{{ getErrorMessage('licensePlate') }}</span>
                }
              </div>
            </div>
          </div>

          <div class="car-form-input-image">
            <div class="form-field">
              <ion-input
                (change)="upload($event, 'frontPicture')"
                accept="image/*"
                fill="solid"
                label="Photo avant de la voiture"
                labelPlacement="stacked"
                type="file"
              >
              </ion-input>

              @if (frontPicturePreview) {
                <div class="image-preview">
                  <ion-img [src]="frontPicturePreview" alt="Prévisualisation de la photo avant"/>
                </div>
              }
            </div>


            <div class="form-field">
              <ion-input
                (change)="upload($event, 'behindPicture')"
                accept="image/*"
                fill="solid"
                label="Photo arrière de la voiture"
                labelPlacement="stacked"
                type="file"
              >
              </ion-input>

              @if (behindPicturePreview) {
                <div class="image-preview">
                  <ion-img [src]="behindPicturePreview" alt="Prévisualisation de la photo arrière"/>
                </div>
              }
            </div>
          </div>
        </div>

        <div class="container-button">
          <ion-button (click)="onCreate()" [disabled]="carForm.invalid" size="medium">
            Ajouter
          </ion-button>
          <ion-button (click)="onNavigateToCarListPage()" size="medium">
            Annuler
          </ion-button>
        </div>

      </form>
    </div>
  </div>
</ion-content>
