.parent-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
  }

  .new-car {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60%;
    background: rgb(240, 240, 240);
    padding: 20px 60px;
    border-radius: 20px;
    min-height: 60%;

    @media (max-width: 768px) {
      padding: 10px;
      margin: 10px;
      width: 90%;
    }

    h1 {
      color: #01042d;
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
      }
    }

    .car-form {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: end;
      flex: 1;

      .car-form-input {
        width: 100%;
        flex: 1;

        .car-form-input-text {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          .form-field {
            position: relative;
            width: 45%;

            @media (max-width: 768px) {
              width: 100%;
            }

            .span-field {
              margin-top: 5px;
              min-height: 20px;

              @media (max-width: 768px) {
                min-height: 15px;
              }
            }

            ion-input {
              width: 100%;
              background: transparent;
            }
          }
        }

        .car-form-input-image {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          height: 300px;

          @media (max-width: 768px) {
            flex-direction: column;
          }

          .form-field {
            position: relative;
            width: 45%;

            @media (max-width: 768px) {
              width: 100%;
            }

            ion-button {
              width: 100%;
              background: transparent;
            }

            .image-preview {
              display: flex;
              justify-content: center;
              margin: 10px 0 15px 0;

              @media (max-width: 768px) {
                flex-direction: column;
              }

              ion-img {
                height: 220px;
                width: auto;
              }
            }
          }
        }
      }

      .container-button {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;

        ion-button {
          width: 20%;
          margin: 10px;
        }
      }
    }
  }
}
