.new-car {

  form:last-child > ion-item > ion-input {
    width: 90%;
  }

  .container-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    ion-button {
      width: 30%;
      margin: 10px;
    }
  }

  .image-preview {
    display: flex;
    justify-content: center;
    margin: 10px 0 15px 0;

    ion-img {
      width: 50%;
      height: auto;
    }
  }
}
